
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1{
	line-height:16.5px;
}
#ID_SC2{
	line-height:17px;
}

#ID_static_1
{
	margin-top: 3px;
	margin-left: 5px;
}