
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.mtable font[face="_typewriter"]
{
font-family:"Courier New", Courier, monospace !important;	

}
#ID_s1_table01{
letter-spacing:-0.33px!important;
}
#ID_router_txt1{letter-spacing:-0.3px !important;}
#ID_router_txt1{padding-left:4px !important;}

#ID_s3_txt01{
	color: #ffffff !important;
}

@media only screen and (device-width: 768px) {
#ID_s1_table01{
width:390px!important;
margin-left:20px!important;
}
}