
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#static1{letter-spacing: -1.3px !important;}
#static2{letter-spacing: -1.5px !important;}