
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}


#dnd_1_drag_0_0 div, #dnd_1_drag_1_0 div, #dnd_1_drag_2_0 div, 
#dnd_2_drag_0_0 div, #dnd_2_drag_1_0 div, #dnd_2_drag_2_0 div, 
#dnd_3_drag_0_0 div,#dnd_3_drag_1_0 div, #dnd_3_drag_2_0 div, 
#dnd_4_drag_0_0 div,#dnd_4_drag_1_0 div, #dnd_4_drag_2_0 div{
	left: 10px !important;
	width: 140px !important;
}


/*#ID_s1_title{

	margin-left: -30px !important;
}*/