
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');


#static1, #static2,#txt1{letter-spacing: 1.5px !important;}
#static1{letter-spacing: 1.2px !important;}

#htmlMedia
{
	margin-left: 100px !important;
	
}

#ID_title
{
	margin-left: -110px !important;
	
}