
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');



/*@media only screen and (device-width: 768px) {
#ID_txt02 a{text-decoration:none;}
#ID_txt01,#ID_txt02{
left: 125px !important;
}
}*/


#ID_txt01{

color: #067EB2;

}