
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#staticTxt,#staticTxt1,#staticTxt2,#staticTxt3{
color: #ffffff!important;
letter-spacing:-1px!important;
}
#colorrr
{
	color: 000000 !important;
}
@media only screen and (device-width: 768px) {
#ID_txt01{
margin-left:-5px !important;
}
}