
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt02
{
width:164px !important;	
}
#ID_s1_txt02 font b
{
letter-spacing:-.9px !important;	
}
@media only screen and (device-width: 768px) {
#ID_s1_txt06{line-height:10px !important; top:-4px !important;}
#ID_s1_txt03{width:75px !important;}
#ID_s1_txt08{width:70px !important;}
}